@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#burger {
  transition: all 0.5s ease-in-out;
}

#burger::before,
#burger::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 8px;
  background-color: #242a45;
  transition: all 0.5s ease-in-out;
  @apply w-6;
}

#burger::before {
  transform: translateY(8px);
}

#burger::after {
  transform: translateY(-8px);
}

/* ANIMATION */

#menu-btn.open #burger {
  transform: translateX(-50px);
  background: transparent;
}

#menu-btn.open #burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: white;
}

#menu-btn.open #burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: white;
}

.btn {
  @apply shadow-md py-3 px-4 border-2 rounded-md ease-in-out md:duration-200 font-semibold;
}

.btn-purple {
  @apply bg-bookmark-purple border-bookmark-purple text-white hover:bg-white hover:text-bookmark-purple hover:border-bookmark-purple;
  @apply active:bg-white active:text-bookmark-purple active:border-bookmark-purple;
}

.btn-white {
  @apply bg-bookmark-white border-transparent text-bookmark-grey hover:border-bookmark-grey;
  @apply active:border-bookmark-grey;
}
